<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>
	<test thread-count="5" name="Test">


		<classes>
			<class name="testcase.LoginTest"/>
			<class name="testcase.ProductTest"/>
			<class name="testcase.CartTest"/>
			<class name="testcase.CheckoutTest"/>
<!--				<methods>-->
<!--					<include name="testFinishBtnAndGlitchBackhomeBtn"/>-->
<!--				</methods>-->
			 
		</classes>

	</test> <!--
	Test -->
</suite> <!--
Suite -->
